<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<ul style="list-style-type: none">
  <li>ユーザー名: <%= @user.name %></li>
  <li>メールアドレス: <%= @user.email %></li>
</ul>
<p><%= Time.now %></p>
<dr>